<%- include('../partials/header.ejs') %>
    <% if (successMessages.length> 0) { %>
        <div class="flash-success">
            <% successMessages.forEach(msg=> { %>
                <p>
                    <%= msg %>
                </p>
                <% }) %>
        </div>
        <% } %>

            <% if (errorMessages.length> 0) { %>
                <div class="flash-error">
                    <% errorMessages.forEach(msg=> { %>
                        <p>
                            <%= msg %>
                        </p>
                        <% }) %>
                </div>
                <% } %>

                    <div class="form-usercontainer">
                        <form action='/users/login' method='POST' class="user-form">
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" required>

                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>

                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <%- include('../partials/footer.ejs') %>