<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Token Marketplace</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="left-side">
        <img src="/pics/home.png" alt="Marketplace Image" class="side-image" />
      </div>
      <div class="right-side">
        <div class="content">
          <h1>Welcome to the Token Marketplace</h1>
          <p>Explore our collection of items for sale!</p>
          <a href="/items">
            <button class="browse-button">Browse Products</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
<%- include('./partials/footer') %>
