<footer class="footer">
  <p>&copy; 2025 Token Marketplace</p>
  <div class="social-logos">
    <img src="/pics/instagram.png" alt="Instagram Logo">
    <img src="/pics/twitter.png" alt="Twitter Logo">
  </div>
</footer>